<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    </head>
<body>
  <table border>
	<thread>
	  <tr>
		<th>Slot</th>
		<th>Monday</th>
		<th>Tuesday</th>  
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
		<th>Saturday</th>  
		</tr>
	 </thread>
	<tbody>
	  <tr>
		<td>1</td>
		<td>DE</td>
		<td>DM</td>
		<td>DE</td>  
		<td>DM</td>
		<td>DE</td>  
		</tr>	
	  <tr>
		<td>2</td>
		<td>DSA</td>
		<td>DBMS</td>
		<td>DM</td>
		<td>ITW Lab</td>
		<td>DSA</td>
		<td>ITW Lab</td>  
		</tr>
		<tr>
	  <td colspan="7"></td>
		</tr>
		<tr>
		  <td>3</td>	
		  <td>ITW</td>
          <td>DSA Lab</td>		
 		  <td>DSA</td>
		  <td>DBMS</td>
		  <td>DBMS</td> 
		  <td>DBMS Lab</td>
		</tr>
		<tr>
		 <td>4</td>
		 <td>DBMS</td>
	     <td> </td>
	     <td></td>	
  		 <td></td>
		 <td></td>
			<td> </td>
		</tr>
		 </tbody>
	  </table>  
	  <h1> {{name}}</h1>
</body>    
</html>